#search input {
    width: 300px; /* Gör sökfältet större */
    height: 40px;
    font-size: 1.2rem;
    margin: 10px;
}

#search button {
    width: 120px; /* Gör knappen större */
    height: 40px;
    border-radius: 6px;
    font-size: 1rem;
}
button:hover {
    border-color: #9000c9; /* Hover-effekt */
}